<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/now-ui-kit.css">
    <link rel="stylesheet" href="css/aboutpage.css">
    <link rel="stylesheet" href="css/grid_animation.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
        </button>
        <img src="assets/BotLogo.svg" width="50" height="50">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item_animation active">
                    <a class="nav-link" href="#/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item_animation">
                    <a class="nav-link" href="#">About</a>
                </li>
                <!-- <li class="nav-item_animation">
                <a class="nav-link" href="#">Dashboard</a>
            </li> -->
                <!-- <li class="nav-item_animation">
                <a class="nav-link" href="#">Subscription</a>
            </li> -->
            </ul>
            <div class="nav-item_animation dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Documentation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item_animation" href="#">Commands</a>
                    <a class="dropdown-item_animation" href="#">Tutorials</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item_animation" href="#">Server settings</a>
                </div>
            </div>
            <div class="nav-item_animation">
                <a class="nav-link" href="./about.html">About</a>
            </div>
            <a href="./login.html"><button class="btn login-btn btn-outline-accent my-2 my-sm-0"
                    style="font-size: 10px !important;font-family: poppins !important;">LOGIN</button></a>
        </div>
    </nav>
    <div class="position-relative overflow-hidden p-3 p-md-5none m-md-3none text-center m-md-3-dup"
        style="background-color: #FFE6E6; background-color: #AD91FF  ">
        <div class="col-md-5 p-lg-5none mx-auto my-5 Float" style="text-align: left;">
            <h1 class="display-4 fw-normal">Punny headline</h1>
            <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this
                example based on Apple’s marketing pages.</p>
            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
        </div>
        <div style="width: 60%; float: right;">
            <div class="grid_animation">
                <div class="item_animation"></div>
                <div class="item_animation"></div>
                <div class="item_animation"></div>
                <div class="item_animation"></div>
                <div class="item_animation"></div>
                <div class="item_animation"></div>
                <div class="item_animation"></div>
                <div class="item_animation"></div>
                <div class="item_animation"></div>
                <div class="item_animation"></div>
            </div>
        </div>
    </div>

</body>

</html>