<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/assets/css/now-ui-kit.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body>
    <div th:replace="~{header::nav}"></div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6 colum1">
                <form action="/timetable" method="get" style="color: white; font-size: 1.5rem;">
                    <div class="badge1">
                        <label for="gender">Class:</label>
                        <select id="gender" name="Class">
                            <option th:each="var:${list_classes}">
                                <span th:text="${var}"></span>
                            </option>
                        </select>
                    </div>
                    <div class="badge1">
                        <button type="submit" class="btn btn-primary">Timetable</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>

        </div>
    </div>
</body>

</html>