<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-transparent" th:fragment="nav">
        <img th:src="@{assets/images/Kibana.svg}" width="50" height="50">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/home'}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/ContactUs'}">ContactUs</a>
                </li>
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:href="@{'/student_timetable?Class=Comp_SY_Div1'}" id="navbarDropdown" role="button" 
                    aria-haspopup="true" aria-expanded="false">
                    student_timetable
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" th:href="@{'/about'}">About</a>
            </div>
            <a th:href="@{'/login'}"><button class="btn login-btn btn-outline-accent my-2 my-sm-0"
                    style="font-size: 10px !important;font-family: poppins !important;">LOGIN</button></a>
        </div>
    </nav>
    
</body>
</html>