<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/assets/css/now-ui-kit.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/timetable-stylesheet.css}" rel="stylesheet">
</head>

<body>

    <div th:replace="~{header::nav}"></div>
    <h1> Welcome <span th:text="${username}"></span></h1>
    <div style="align-content: center; align-items: center; margin: 0 ; width: min-content; max-width: 100%;">
        <table class="rwd-table container">
            <tr style="color: yellow;">
                <th></th>
                <th>9:00</th>
                <th>10:00</th>
                <th>11:00</th>
                <th>12:00</th>
                <th>01:00</th>
                <th>02:00</th>
                <th>03:00</th>
                <th>04:00</th>
                <th>05:00</th>
            </tr>
            <tr th:each="day: ${time_table}">
                <td class="days" style="color: yellow; font-weight: bold;"></td>
                <td th:each="slot:${day}">
                    <span th:each="var:${slot.list_lectures}">
                        <span class="non-Empty" th:if="${var != 'NONE'}">
                            <span th:if="${option != '2'}">
                                <span th:text="${var != 'NONE'? var: ''} +'('+${slot.CLASS}+')'"></span>
                            </span>
                            <span th:if="${option == '2'}" style="margin: 0; padding: 0;">
                                <form th:action="@{'/cancelLecture?lecName=' + ${var}+'&file=main'}"
                                    style="margin: 0; padding: 0;" method="post">
                                    <input type="text" th:value="${slot.id}" style="display: none;" name="id">
                                    <input type="text" th:value="${Class}" style="display: none;" name="Class">
                                    <button type="submit"><span
                                            th:text="${var}  +'('+${slot.CLASS}+')'"></span></button>
                                </form>
                            </span>
                        </span>
                        <br>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div style="display: flex; justify-content: center;">
        <div class="flex-containerr">
            <div class="box">
                <a th:href="@{'/AddLecture'}">Arrange a lecture</a>
            </div>
            <div class="box">
                <a th:href="@{'/main?option=2'}">cancel a lecture</a>
            </div>
        </div>
    </div>
    <span th:if="${option == '1'}">
        <script th:src="@{/assets/js/add_lecture.js}"></script>
    </span>
    <script th:src="@{/assets/js/days.js}"></script>


</body>

</html>