<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/assets/css/now-ui-kit.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/timetable-stylesheet.css}" rel="stylesheet">
    <link th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
    <link th:href="@{/assets/css/popup.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css">
</head>

<body>
    <div th:replace="~{student_timetable::sidebar}"></div>
    <h1 style="color: bisque; margin-left: 10%;">Welcome, <span sec:authentication="name"></span>!</h1>
    <div th:replace="~{timetable::Timetable}"></div>

    <span th:if="${option == '1'}">
        <script th:src="@{/assets/js/add_lecture.js}"></script>
    </span>
    <script th:src="@{/assets/js/days.js}"></script>
    <script th:src="@{/assets/js/sidebar.js}"></script>
</body>

</html>