<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/assets/css/now-ui-kit.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/timetable-stylesheet.css}" rel="stylesheet">
    <link th:href="@{/assets/css/timetable2-stylesheet.css}" rel="stylesheet">
</head>

<body>
    <!-- <div th:replace="~{header::nav}"></div> -->
    <div class="sidebar">
        <div class="logo-details">
          <i class='bx bxl-codepen icon'></i>
          <div class="logo_name">SideMenu</div>
          <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
          <li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-user'></i>
              <span class="links_name">User</span>
            </a>
            <span class="tooltip">User</span>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-chat'></i>
              <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-pie-chart-alt-2'></i>
              <span class="links_name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-folder'></i>
              <span class="links_name">File Manager</span>
            </a>
            <span class="tooltip">Files</span>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cart-alt'></i>
              <span class="links_name">Order</span>
            </a>
            <span class="tooltip">Order</span>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-heart'></i>
              <span class="links_name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cog'></i>
              <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
          </li>
          <li class="profile">
            <div class="profile-details">
              <i class='bx bx-export'></i>
              <div class="name_job">
                <div class="name">Logout</div>
              </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
          </li>
        </ul>
      </div>
      <section class="home-section">
        <div class="text">Dashboard</div>
      </section>
    <div class="container" th:fragment="Timetable">
        <div class="row">
            <div style="align-content: center; align-items: center; margin: 0 auto; width: fit-content;">
                <table class="rwd-table">
                    <tr style="color: yellow;">
                        <th></th>
                        <th>9:00</th>
                        <th>10:00</th>
                        <th>11:00</th>
                        <th>12:00</th>
                        <th>01:00</th>
                        <th>02:00</th>
                        <th>03:00</th>
                        <th>04:00</th>
                        <th>05:00</th>
                    </tr>
                    <tr th:each="day: ${time_table}">
                        <td class="days" style="color: yellow; font-weight: bold;"></td>
                        <td th:each="slot:${day}">
                            <span th:each="var:${slot.list_lectures}">
                                <!-- <span th:if="${var != 'none' && var!= null}"> -->
                                <span class="non-Empty" th:if="${var != 'NONE'}">
                                    <span th:if="${option != '2'}">
                                        <span th:text="${var != 'NONE'? var: ''}"></span>
                                    </span>
                                    <span th:if="${option == '2'}" style="margin: 0; padding: 0;">
                                        <form th:action="@{'/cancelLecture?lecName=' + ${var}+'&file=timetable'}"
                                            style="margin: 0; padding: 0;" method="post">
                                            <input type="text" th:value="${slot.id}" style="display: none;" name="id">
                                            <input type="text" th:value="${Class}" style="display: none;" name="Class">

                                            <button type="submit">
                                                <span th:text="${var != 'none' and var != 'NONE' ? var : ''}"></span>
                                            </button>
                                        </form>
                                    </span>
                                </span>
                                <br>
                                <span th:if="${option == '1'}" style="display: block;">
                                    <span th:if="${var == 'none' || var == null || var == 'NONE'}"
                                        style="display: block;">
                                        <form th:action="@{'/add_lecture'}" method="post">
                                            <input type="text" th:value="${slot.id}" style="display: none;" name="id">
                                            <input type="text" th:value="${Class}" style="display: none;" name="Class">
                                            <input type="text" th:value="${Subject}" style="display: none;" name="Subject">
                                            <button type="submit">.
                                                <br>.
                                                <br>.
                                                <br>.
                                                <br>.
                                                <br>............</button>
                                        </form>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <!-- <td> <a role="button" class="update" th:href="@{/form2(name = ${grade.name})}">Update</a> </td> -->
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; font-size: 1.5rem;">
        <div class="flex-containerr">
            <div class="box">
                <form th:action="@{'/timetable?option=1'}" style="color: red;">
                    <button type="submit" style="font-size: 1.7rem;"> Arrange a lecture</button>
                    <label>Subject:</label>
                    <select id="gender" name="Subject">
                        <option th:each="var:${list_subjects}">
                            <span th:text="${var}"></span>
                        </option>
                    </select>
                    <input type="number" value=1 name="option" style="display: none;">
                    <input type="text" th:value="${Class}" style="display: none;" name="Class">
                </form>
            </div>
            <div class="box">
                <a th:href="@{'/timetable?option=2&Class='+${Class}}">cancel a lecture</a>
            </div>
        </div>
    </div>
    <span th:if="${option == '1'}">
        <script th:src="@{/assets/js/add_lecture.js}"></script>
    </span>
    <script th:src="@{/assets/js/days.js}"></script>
    <!-- <script th:src="@{/assets/js/add_lecture.js}"></script> -->
</body>

</html>